--- layout: default title: Jon's Portfolio ---
<div class="home" id="home">
    <h1 class="pageTitle">Jon Deng</h1></h1>
    <h3>Hi! I'm Jon, a full stack web developer specializing in JavaScript frameworks and Python. I bring grit, passion, and accountability to projects.</h3>
    <h4>Oops!  Look's like you've caught me unprepared.  This website under construction.</h4>
    <ul class="posts noList">
        {% for post in paginator.posts %}
        <li>
            <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
            <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
        </li>
        {% endfor %}
    </ul>
    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> {% endif %} {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a> {% endif %}
    </div>
</div>
