 <div class="intro" style="text-align: center;">

 <h4>Hi! I'm a full stack developer building things for the web.</h4>
    <p>I bring grit, passion, and accountability to projects that solve real problems with software. Currently, leveling up at <a href='http://www.hackreactor.com/'>@HackReactor</a> and contributing when I can to <a href='https://operationcode.org/'>@OperationCode</a>. Formerly <a href='https://twitter.com/USArmy'>@USArmy</a> and <a href='http://hls.harvard.edu/'>@HarvardLaw</a>.  I like React.js, Node.js, functional programming, blogging, automating with bash scripts, climbing, and doing long, wandery trail runs.</p>

</div>